.cover-page, .footer {
    background-image: url('../../public/images/background-cover-page.jpg');
    background-size: 600px 600px;
    background-attachment: fixed;
    
    &.cover-page {
        clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
    }

    .cover-page-content, .footer-content {
        background-color: rgba(64, 150, 201, .83); // Capa azul por encima de la imagen de fondo
        
        .icon {
            width: 50px;
            cursor: pointer;
        }
    
        .col-lg-7 {
            background-color: rgba(36, 40, 42, .03);
        }
    
    }

    @media (max-width: 576px) {
        & .h2 {
            font-size: 1.5em;
        }
    }

    .icon-player {
        display: inline-block;
        width: 50px;
        cursor: pointer;
    }
    
}
