.navbar .logo {
  max-width: 50px; }

.navbar .nav-link {
  opacity: .9;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom .15s;
  -o-transition: border-bottom .15s;
  transition: border-bottom .15s; }
  .navbar .nav-link:hover {
    opacity: 1;
    border-bottom: 3px solid #FF5A5F; }

.navbar .active {
  border-bottom: 3px solid #FF5A5F; }

.navbar-mobile {
  margin-top: 5rem; }

@media (max-width: 768px) {
  .navbar {
    background-color: #209CEE; } }

.cover-page, .footer {
  background-image: url("../../public/images/background-cover-page.jpg");
  background-size: 600px 600px;
  background-attachment: fixed; }
  .cover-page.cover-page, .footer.cover-page {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%); }
  .cover-page .cover-page-content, .cover-page .footer-content, .footer .cover-page-content, .footer .footer-content {
    background-color: rgba(64, 150, 201, 0.83); }
    .cover-page .cover-page-content .icon, .cover-page .footer-content .icon, .footer .cover-page-content .icon, .footer .footer-content .icon {
      width: 50px;
      cursor: pointer; }
    .cover-page .cover-page-content .col-lg-7, .cover-page .footer-content .col-lg-7, .footer .cover-page-content .col-lg-7, .footer .footer-content .col-lg-7 {
      background-color: rgba(36, 40, 42, 0.03); }
  @media (max-width: 576px) {
    .cover-page .h2, .footer .h2 {
      font-size: 1.5em; } }
  .cover-page .icon-player, .footer .icon-player {
    display: inline-block;
    width: 50px;
    cursor: pointer; }

.about .content {
  max-width: 80%; }

.about .background-pattern {
  background-image: url("../../public/images/pattern.png");
  background-attachment: fixed; }

.about .background-image {
  background-image: url("../../public/images/programs/guarderia.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.features img {
  max-width: 40%; }

.features .col-md-4:hover img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.contact form .form-control {
  border: 1px solid rgba(67, 68, 69, 0.2) !important; }
  .contact form .form-control:focus {
    border-color: rgba(67, 68, 69, 0.3) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.contact form textarea {
  height: 80px;
  resize: none; }

.contact .icon {
  font-size: 1.2em; }

.contact .card {
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%); }

body {
  font-family: "Raleway", sans-serif;
  color: #434445; }

.h2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.3em; }

.h3 {
  font-size: 1.2em; }

.lead {
  font-size: 1em; }

video {
  max-width: 100%;
  opacity: .85; }

.container-top {
  margin-top: 10em; }

.z-index-1 {
  position: relative;
  z-index: 1; }

.z-index-3 {
  z-index: 10; }

.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.circle-red {
  background-color: #FF5A5F; }

.circle-green {
  background-color: #00d1b2; }

.circle-yellow {
  background-color: #FFDD57; }

.opacity {
  opacity: .85; }

.shadow-card {
  -webkit-box-shadow: 0px 2px 19px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 19px -9px rgba(0, 0, 0, 0.75); }

.btn {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
