@import "variables";
@import "components/navbar";
@import "components/cover-page";

body {
    font-family: $font-global;
    color: $black;
}

.h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.3em;
}

.lead {
    font-size: 1.1em;
}

video {
    max-width: 100%;
    opacity: .85;
}

.container-top {
    margin-top: 6em;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.z-index-3 {
    z-index: 10;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle-red {
    background-color: $orange;
}

.circle-green {
    background-color: $green;
}

.circle-yellow {
    background-color: $yellow;
}